<h1 class="govuk-heading-xl">Chatterbox</h1>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <form action="chatter" method="post">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "What would you like to ask?"
        },
        name: "question_text",
        value: @question_text.presence,
        hint: "",
        rows: 5
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit"
      } %>
    </form>
  </div>
</div>

<% if @question_text.present? && @chat_response.present? %>
  <p class="govuk-body"> Hello there! </p>
  <p class="govuk-body">You asked the following question</p>
  <p class="govuk-body"><%= @question_text %></p>

  <p class="govuk-body">The answer is:</p>
  <p class="govuk-body"><%= @chat_response %></p>
<% end %>
